<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <h1>Exemplo ngif 01</h1><br>
  <button (click)="ligaDesliga()">ON/OFF</button>

  <img *ngIf="ativado" width="200px" src="https://cdn-icons-png.flaticon.com/512/69/69172.png">

  <hr>

  <h2>Exemplo ngif 02</h2>
    <input [(ngModel)]="nome"><br>

    <div *ngIf="nome">
      Nome: {{nome}}
    </div>
</body>
</html>
